/* ########### FONTS ############ */
@font-face {
  font-family: "retro-gaming";
  src: url("../assets/fonts/retro-gaming.ttf");
}
/* ############ BODY ############  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

body {
  background-color: #000000;
  background: url("../assets/image/bg/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "retro-gaming";
}

/* ############ MAIN ############ */
main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ### SECTION START MENU ### */
.start-menu {
  display: block;
  height: 634px;
  width: 512px;
  box-shadow: 50px 50px 76px #101010, -50px -50px 76px #3e3e3e;
}
.start-menu .sm-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.start-menu .sm-content .screen-top {
  background-image: linear-gradient(rgba(56, 56, 56, 0.8), rgba(24, 24, 24, 0.8)), url("../assets/image/bg/road-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.start-menu .sm-content .screen-top h1 {
  color: #FFF;
  font-size: 50px;
  transition: all 0.5s ease;
}
.start-menu .sm-content .screen-bot {
  background-image: url("../assets/image/bg/screen-bot-bg.png");
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-menu .sm-content .screen-bot button {
  font-family: "retro-gaming";
  cursor: pointer;
  color: #ecf0f1;
  font-size: 17px;
  background-color: #B50029;
  border: 1px solid #C8405F;
  border-radius: 5px;
  padding: 15px 30px;
  box-shadow: 0px 6px 0px #9E0024;
  transition: all 0.1s;
}
.start-menu .sm-content .screen-bot button:active {
  box-shadow: 0px 2px 0px #9E0024;
  position: relative;
  top: 2px;
}

/* ### SECTION POKEMON SELECTION ### */
.pokemon-selection {
  display: none;
  height: 634px;
  width: 512px;
  box-shadow: 50px 50px 76px #101010, -50px -50px 76px #3e3e3e;
}
.pokemon-selection .ps-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.pokemon-selection .ps-content .screen-top {
  background-image: linear-gradient(rgba(56, 56, 56, 0.8), rgba(24, 24, 24, 0.8)), url("../assets/image/bg/road-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.pokemon-selection .ps-content .screen-top .team-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: all 0.5s ease;
}
.pokemon-selection .ps-content .screen-top .team-card p {
  color: #FFF;
  font-size: 50px;
}
.pokemon-selection .ps-content .screen-top .team-card .card-pokemon {
  background: url("../assets/image/transition/battle-transition.gif");
  background-size: contain;
  background-position: center;
  padding: 15px 0px;
  width: 300px;
  height: 132px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: #FF5C5B 2px solid;
  border-radius: 5px;
}
.pokemon-selection .ps-content .screen-top .team-card .card-pokemon .pokemon-img {
  width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-selection .ps-content .screen-bot {
  background-image: url("../assets/image/bg/screen-bot-bg.png");
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.pokemon-selection .ps-content .screen-bot .text-box {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border: #D5FFFC solid 2px;
  padding: 7px;
}
.pokemon-selection .ps-content .screen-bot .text-box p {
  color: #FFF;
}
.pokemon-selection .ps-content .screen-bot .buttons {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
.pokemon-selection .ps-content .screen-bot .buttons button {
  font-family: "retro-gaming";
  cursor: pointer;
  color: #ecf0f1;
  font-size: 17px;
  background-color: #B50029;
  border: 1px solid #C8405F;
  border-radius: 5px;
  padding: 15px 30px;
  box-shadow: 0px 6px 0px #9E0024;
  transition: all 0.1s;
}
.pokemon-selection .ps-content .screen-bot .buttons button:active {
  box-shadow: 0px 2px 0px #9E0024;
  position: relative;
  top: 2px;
}

.screen-top-anim {
  animation: bgFade 0.5s forwards;
}

@keyframes bgFade {
  0% {
    background-image: linear-gradient(rgba(56, 56, 56, 0.8), rgba(24, 24, 24, 0.8)), url("../assets/image/bg/road-bg.png");
  }
  12.5% {
    background-image: linear-gradient(rgba(56, 56, 56, 0.7), rgba(24, 24, 24, 0.7)), url("../assets/image/bg/road-bg.png");
  }
  25% {
    background-image: linear-gradient(rgba(56, 56, 56, 0.6), rgba(24, 24, 24, 0.6)), url("../assets/image/bg/road-bg.png");
  }
  37.5% {
    background-image: linear-gradient(rgba(56, 56, 56, 0.5), rgba(24, 24, 24, 0.5)), url("../assets/image/bg/road-bg.png");
  }
  50% {
    background-image: linear-gradient(rgba(56, 56, 56, 0.4), rgba(24, 24, 24, 0.4)), url("../assets/image/bg/road-bg.png");
  }
  62.5% {
    background-image: linear-gradient(rgba(56, 56, 56, 0.3), rgba(24, 24, 24, 0.3)), url("../assets/image/bg/road-bg.png");
  }
  75% {
    background-image: linear-gradient(rgba(56, 56, 56, 0.2), rgba(24, 24, 24, 0.2)), url("../assets/image/bg/road-bg.png");
  }
  87.5% {
    background-image: linear-gradient(rgba(56, 56, 56, 0.1), rgba(24, 24, 24, 0.1)), url("../assets/image/bg/road-bg.png");
  }
  100% {
    background-image: linear-gradient(rgba(56, 56, 56, 0), rgba(24, 24, 24, 0)), url("../assets/image/bg/road-bg.png");
  }
}
/* ### SECTION PLAYER MOVE ### */
.player-move {
  display: none;
  height: 634px;
  width: 512px;
  box-shadow: 50px 50px 76px #101010, -50px -50px 76px #3e3e3e;
}
.player-move .pm-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.player-move .pm-content .screen-top {
  background-image: url("../assets/image/bg/road-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-move .pm-content .screen-top img {
  height: 60px;
  position: absolute;
  left: 970px;
  right: 0px;
  top: 460px;
  bottom: 0px;
}
.player-move .pm-content .screen-bot {
  background-image: url("../assets/image/bg/screen-bot-bg.png");
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.player-move .pm-content .screen-bot .text-box {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border: #D5FFFC solid 2px;
  padding: 7px;
}
.player-move .pm-content .screen-bot .text-box p {
  color: #FFF;
}

.screen-top-sf {
  animation: bgSFFade 0.3s forwards;
}

@keyframes bgSFFade {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0);
  }
}
/* ### SECTION FIGHT TRANSITION ### */
.fight-transition {
  display: none;
  height: 634px;
  width: 512px;
  box-shadow: 50px 50px 76px #101010, -50px -50px 76px #3e3e3e;
}
.fight-transition .ft-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.fight-transition .ft-content .screen-top {
  background-image: url("../assets/image/transition/battle-transition.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: fadeTran 5s forwards;
  overflow: hidden;
}
.fight-transition .ft-content .screen-top .text p {
  color: #fff;
  font-size: 60px;
  animation: textTr 5s forwards;
}
.fight-transition .ft-content .screen-top .enemy-transition {
  display: flex;
  align-items: center;
  margin-right: 700px;
  animation: enemyTr 5s forwards;
  gap: 40px;
}
.fight-transition .ft-content .screen-top .enemy-transition div {
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes enemyTr {
  0% {
    margin-right: 700px;
  }
  25% {
    margin-right: -300px;
  }
  75% {
    margin-right: -300px;
  }
  100% {
    margin-right: -900px;
  }
}
.fight-transition .ft-content .screen-top .player-transition {
  display: flex;
  align-items: center;
  margin-left: 700px;
  animation: playerTr 5s forwards;
  gap: 40px;
}
.fight-transition .ft-content .screen-top .player-transition div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
}
@keyframes playerTr {
  0% {
    margin-left: 700px;
  }
  25% {
    margin-left: -300px;
  }
  75% {
    margin-left: -300px;
  }
  100% {
    margin-left: -900px;
  }
}
.fight-transition .ft-content .screen-bot {
  background-image: url("../assets/image/bg/screen-bot-bg.png");
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.fight-transition .ft-content .screen-bot .text-box {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border: #D5FFFC solid 2px;
  padding: 7px;
}
.fight-transition .ft-content .screen-bot .text-box p {
  color: #FFF;
}

@keyframes fadeTran {
  0% {
    filter: brightness(1);
  }
  25% {
    filter: brightness(1);
  }
  75% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0);
  }
}
@keyframes textTr {
  75% {
    color: #FFF;
    transform: scale(1);
  }
  100% {
    color: #000;
    transform: scale(100);
  }
}
/* ### SECTION FIGHT TRANSITION ### */
.fight-gameplay {
  display: none;
  height: 634px;
  width: 512px;
  box-shadow: 50px 50px 76px #101010, -50px -50px 76px #3e3e3e;
}
.fight-gameplay .fg-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.fight-gameplay .fg-content .screen-top {
  background-image: url("../assets/image/arena/arena-18.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.fight-gameplay .fg-content .screen-bot {
  background-image: url("../assets/image/bg/screen-bot-bg.png");
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.fight-gameplay .fg-content .screen-bot .text-box {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border: #D5FFFC solid 2px;
  padding: 7px;
}
.fight-gameplay .fg-content .screen-bot .text-box p {
  color: #FFF;
}

/*# sourceMappingURL=app.css.map */
