/* ### SECTION PLAYER MOVE ### */
.player-move
    display: none
    height: 634px
    width: 512px
    box-shadow:  50px 50px 76px #101010, -50px -50px 76px #3e3e3e
    .pm-content
        display: flex
        flex-direction: column
        overflow: hidden
        .screen-top
            background-image: url('../assets/image/bg/road-bg.png')
            background-repeat: no-repeat
            background-size: 100%
            width: 100%
            height: 384px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            img
                height: 60px
                position: absolute
                left: 970px
                right: 0px
                top: 460px
                bottom: 0px
        .screen-bot
            background-image: url('../assets/image/bg/screen-bot-bg.png')
            height: 250px
            width: 100%
            display: flex
            flex-direction: column
            justify-content: start
            align-items: center
            .text-box
                width: 100%
                height: 100px
                background: rgba(0, 0, 0, 0.8)
                border: #D5FFFC solid 2px
                padding: 7px
                p
                    color: #FFF
            button
                margin-top: 45px
                font-family: "retro-gaming"
                cursor: pointer
                color: #ecf0f1
                font-size: 17px
                background-color: #B50029
                border: 1px solid #C8405F
                border-radius: 5px
                padding: 15px 30px
                box-shadow: 0px 6px 0px #9E0024
                transition: all 0.1s
            button:active
                box-shadow: 0px 2px 0px #9E0024
                position: relative
                top: 2px

.screen-top-sf
    animation: bgSFFade 0.3s forwards
@keyframes bgSFFade
    0%
        filter: brightness(1)
    100%
        filter: brightness(0)

